<ng-template appPlaceHolder></ng-template>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!--      <div *ngIf="error" class="alert alert-danger">-->
    <!--        {{error}}-->
    <!--      </div>-->
    <!--      <app-alert-box [message]="error" *ngIf="error" (closeEvent)="onHandleError()"></app-alert-box>-->
    <div *ngIf="isLoading && !error" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            #email="ngModel"
            required
            email
          >
          <span class="help-block" *ngIf="email.invalid && email.touched">Please enter a valid email.</span>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            ngModel
            #password="ngModel"
            required
            minlength="6"
          >
          <span class="help-block" *ngIf="password.invalid && password.touched">Please enter a valid password.</span>
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="f.invalid"
          >{{isLoginMode ? 'Login' : 'Sign Up'}}
          </button>
          |
          <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch
            to {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
